.elements {
    color: black;
    display: grid;
    grid-template-columns: repeat(3, 282px);
    grid-template-rows: repeat(auto-fit, 1fr);
    row-gap: 20px;
    column-gap: 17px;
    margin: 51px auto 0 auto;
}

@media screen and (max-width:1279px) {
    .elements {
        max-width: 581px;
        grid-template-columns: repeat(2, 282px);
    }
}

@media screen and (max-width:767px) {
    .elements {
        grid-template-columns: repeat(1, 1fr);
        margin-top: 36px;
    }
}