.element__deleteButton{
    width: 18px;
    height: 19.3px;
    border: none;
    background: no-repeat center url(../../../images/cardDelete.svg);
    position: absolute;
    right: 15px;
    top: 18px;
}
.element__deleteButton:hover{
    cursor: pointer;
    opacity: 0.6;
}