.element__like {
    margin: 20px 18px 0 0;
    border: none;
    width: 22px;
    height: 19px;
    background: no-repeat center url(../../../images/element__like.svg);
}

.element__like:hover {
    opacity: 0.5;
    cursor: pointer;
}

.element__like:focus {
    outline: 0;
}