.form__save-button {
    max-width: 100%;
    height: 50px;
    width: 358px;
    font-size: 18px;
    line-height: 22px;
    margin: 38px auto 0 auto;
    background-color: black;
    color: white;
    border-radius: 3%;
    border: none;
    margin-bottom: 25px;
}

.form__save-button:hover {
    opacity: 0.8;
    transition: opacity 0.2s ease-out;
    cursor: pointer;
}

@media screen and (max-width:767px) {
    .form__save-button {
        height: 46px;
        font-size: 14px;
        line-height: 17px;
        margin-top: 36px;
    }
}